



{% extends "layout.html" %}
{% block body %}

<div
class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
<h1 class="h2">Şirketler</h1>

</div>
<form action="/updatecompany/{{ company['Company_id']}}" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Cihaz ismi</label>
        <input type="hidden"  id="deviceid" name="deviceid" value="{{ company['Company_id']}}">
        <input type="number" name="devicescount" class="form-control" placeholder=" {{ company['DevicesCount']}}">
    </div>
   
    <button type="submit" class="btn btn-primary">Ekle</button>
</form>


{% endblock %}


   

